.footer {
    grid-area: footer;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "sectionA sectionB";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.footer>div {
    border: 1px dashed #79b3f2;
}

.footer .sectionA {
    grid-area: sectionA;
}

.footer .sectionB {
    grid-area: sectionB;
}