.header {
    grid-area: header;
    position: fixed;
    top: 0;
    z-index: 3000;
    background-color:rgba(255, 255, 255, 0.8);
    display: grid;
    width: 100%;
    max-width: inherit;
    height: 10vh;
    grid-template-areas: "sectionA sectionB";
    grid-template-columns: 30% 70%;
    grid-template-rows: 10vh;
}

.header>div {
    border: 1px dashed #f279ba;
}

.header .sectionA {
    grid-area: sectionA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.sectionA h1{
    font-weight: bolder;
    padding: 0px 20px;
    border: 1px dashed #f279ba;
}

.header .sectionB {
    grid-area: sectionB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 95%;
    z-index: 100;
}

.nav-links li {
    list-style: none;
    padding: 15px 20px;
}

.nav-links a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 17px;
    margin-left: auto;
    color: var(--colorLetterNav);
}


.nav-links a:hover {
    color: var(--colorLetterHover);
}

.nav-links li:last-child {
    border: 1px solid var(--colorLetter);
    background-color: var(--colorLetter);
    border-radius: 5px;
}

.nav-links li:last-child a{
    color: whitesmoke;
}

.active {
    color: var(--colorLetterActive) !important;
}
