.main {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "sectionA sectionB";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

.main>div {
    border: 1px dashed #82994f;
}

.main .sectionA {
    grid-area: sectionA;
}

.main .sectionB {
    grid-area: sectionB;
    background: rgb(8,150,229);
    background: linear-gradient(153deg, rgba(8,150,229,1) 0%, rgba(51,101,218,1) 100%);

}

#img_persona1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}