.vaccineLogo {
    grid-area: vaccineLogo;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }

  .vaccineImage{
      width: 15%;
  }

  .vaccineImage img{
    width: 100%;
    height: fit-content;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: .15;
}
